<!DOCTYPE html>
<html lang="en" class="ie8">
<html lang="en" class="ie9">
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Air My Biz | User Reviews and Recommendations of Top Restaurants, Shopping, Nightlife, Entertainment, Services and More at AirMyBiz.com</title>
<meta name="description" content="Discover and save on 1000s of great deals at nearby top restaurants, shopping, nightlife, entertainment, services and more.  AirMyBiz: Experience show Perfection.">

  <meta content="" name="author"/>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon"
        type="image/ico"
        href="/assets/pr_images/favicon.ico"/>
</head>
<body>
<div id="logo" class="center">
  <!--<img src="/assets/pr_images/2.png" alt="logo" class="center"/>-->
</div>
<%= yield %>
<div id="footer">
  <%= "Copyright 2017. airmybiz" %>
  <div class="span pull-right">
    <span class="go-top"><i class="icon-arrow-up"></i></span>
  </div>
</div>
</body>
</html>
